<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hao.topic.topic.mapper.TopicRecordMapper">
    <select id="getRank" resultType="java.lang.Long">
        SELECT `rank`
        FROM (SELECT user_id,
                     nickname,
                     SUM(count)                             AS total_count,
                     RANK() OVER (ORDER BY SUM(count) DESC) AS `rank`
              FROM topic_record
              GROUP BY user_id) AS ranked_users
        WHERE user_id = #{userId};
    </select>
    <select id="getCountRank" resultType="com.hao.topic.model.vo.topic.TopicUserRankVo">
        SELECT ranked_users.rank AS `rank`,
        ranked_users.user_id AS userId,
        ranked_users.total_count AS scope,
        COALESCE(NULLIF(users.nickname, ''), users.account) AS nickname,
        users.avatar,
        roles.role_key AS role,
        ranked_users.topic_time as topicTime
        FROM (SELECT user_id,
        SUM(count) AS total_count,
        topic_time,
        RANK() OVER (ORDER BY SUM(count) DESC) AS `rank`
        FROM topic_record
        <where>
            <if test="topicTime != null and topicTime != ''">
                topic_time = #{topicTime}
            </if>
        </where>
        GROUP BY user_id) AS ranked_users
        JOIN sys_user AS users ON ranked_users.user_id = users.id
        JOIN (SELECT user_id, MIN(role_id) AS role_id
        FROM sys_user_role
        GROUP BY user_id) AS user_roles ON users.id = user_roles.user_id
        JOIN sys_role AS roles ON user_roles.role_id = roles.id order by `rank`
    </select>
    <select id="getUserCountRank" resultType="com.hao.topic.model.vo.topic.TopicUserRankVo">
        SELECT ranked_users.rank AS `rank`,
        ranked_users.user_id AS userId,
        ranked_users.total_count AS scope,
        ranked_users.topic_time as topicTime,
        COALESCE(NULLIF(users.nickname, ''), users.account) AS nickname,
        users.avatar,
        roles.role_key AS role
        FROM (SELECT user_id,
        SUM(count) AS total_count,
        topic_time,
        RANK() OVER (ORDER BY SUM(count) DESC) AS `rank`
        FROM topic_record
        <where>
            <if test="topicTime != null and topicTime != ''">
                topic_time = #{topicTime}
            </if>
        </where>
        GROUP BY user_id) AS ranked_users
        JOIN sys_user AS users ON ranked_users.user_id = users.id
        JOIN (SELECT user_id, MIN(role_id) AS role_id
        FROM sys_user_role
        GROUP BY user_id) AS user_roles ON users.id = user_roles.user_id
        JOIN sys_role AS roles ON user_roles.role_id = roles.id where user_roles.user_id = #{userId}
    </select>

    <!-- 统计今日刷题总数 -->
    <select id="countTopicFrequency" resultType="java.lang.Long">
        select sum(count) as count
        from topic_record
        <where>
            <if test="date != null and date != ''">
                topic_time= #{date}
            </if>
        </where>
    </select>
</mapper>