// 统一引入样式文件
@import url(./reset.scss); // 清除默认样式

// 总体不能滚动
body {
  margin: 0;
  overflow: hidden;
}


// 滚动条外观设置
::-webkit-scrollbar {
  width: $base-webkit-scrollbar;
  height: $base-webkit-height;
}

::-webkit-scrollbar-track {
  background: $base-webkit-track;
}

::-webkit-scrollbar-thumb {
  background-color: $base-webkit-background;
  border-radius: $base-webkit-radius;
}