// 项目提供scss全局变量

// 左侧的菜单的宽度
$base-menu-width: 190px;
// 左侧菜单的背景颜色
$base-menu-background: #fff;
// $base-menu-background:linear-gradient(135deg, #292a3a, #536976);
// 左侧菜单最小宽度
$base-menu-min-width: 60px;

// logo的高度
$base-menu-logo-height: 55px;

// 顶部tabbar
$base-tabbar-height: 55px;

// 内容区域颜色
$base-content-background: #f9fafb;


// 菜单选中的字体颜色
$base-menu-active-color: #fff;
// 菜单选中的背景颜色
$base-menu-active-background: #1677ff;

// 顶部导航的高度
// 顶部导航的颜色
$base-tabbar-background: #52a6fd;

// 滚动条背景色
$base-webkit-background: #dceaf9;
// 滚动条整体颜色
$base-webkit-track: #fff;
// 滚动条宽度
$base-webkit-scrollbar: 4px;
// 滚动条圆角
$base-webkit-radius: 10px;
// 自定义表格
$base-table-backgroud: #fff;